body{
    font-family: 'Macondo', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0px;
padding: 0px;
}
#restaurant{
    color: rgb(136, 117, 110);

}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
   
}
.about{
    width: 100%;
    padding: 20px 30px 10px;
}
header > h1{
    text-align: center;
    background-color: rgb(165, 59, 21);
    padding: 20px;
}
.right-sight img{
    width: 300px;
}
.button{
    padding: 15px 30px ;
    border-radius: 3px;
    border: none;
    background-color: brown;
    color: whitesmoke;
    font-weight: 700;
}
.button:hover{
    background-color:cyan;
    color: rgb(75, 9, 9);
    transition: 2s;
    cursor: pointer;
    
}
h1{
    text-align: center;
    font-size:30px;
    font-weight:400;
    margin-top: 30px;
}
.imgesr{
    width:200px;
    width:200px;
    
   
}
.first-100{
    width: 100%;

}
.security{
    border-radius: 6px;
    box-shadow: 14px 10px 5px   lightgrey;
    width: 200px;
    padding:20px;

}
h3{
    color: chocolate;
}
/* .service{
    display: flex;
} */
#ser{
    color: rgb(223, 169, 156);
}
.detail-1{
    display: flex;
    justify-content: space-around;
 
    margin-top: 60px;
    margin-bottom: 70px;
}
#choto-ho{
height: 150px ;
}
button{
    text-align: center;
}
.element{
    margin-top:50px;
}
.footer-text{
    text-align: center;
    background-color:rgb(75, 9, 9);
    color: antiquewhite;
    padding: 30px 40px;
    font-size: 20px;
}